<meta charset="utf-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title><%= title %></title>
<meta name="description" content="<%= description %>" />
<link rel="icon" href="data:;base64,iVBORw0KGgo=" />

<link href="/site/_shared/core.css" rel="stylesheet" />
<script defer type="module" src="/site/_shared/core.js"></script>