doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    block headMeta

    - var blankFavicon = `data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=`
    link(href=blankFavicon rel='icon' type='image/x-icon')

    block headStyles
      link(rel='stylesheet' href='/core/bundle.css')

    block headScripts
      //- script(defer src='https://cdn.polyfill.io/v2/polyfill.min.js')
      script(defer src='/core/bundle.js')

  body
    block body

    block footScripts
