---
title: Meta title
description: Meta description
variable: Hello, universe.
---

extends /_shared/layout

block body
  h1= variable
  .nested
    .elements
      p This is a #[strong strong] tag
      p.element
        img(src='/assets/test.jpg')
