extends /_shared/layout.pug

block body
  nav.Nav.horizontal.Container.padded
    ul
      li
        strong.nav-item Home
      li
        a.nav-item(href='/page1/') Page 1

  .Container.padded
    h1 Hello, universe.
    p These are inline #[strong strong] and #[em em] tags.
    p Example variable: #{EXAMPLE_BUILD_VAR}
    p
      img(src='/index/test.jpg')
