doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title TITLE
    meta(name='description' content='DESCRIPTION')

    link(rel='stylesheet' href='./shared/global.styl')
    //- script(defer src='https://cdn.polyfill.io/v2/polyfill.min.js')
    script(defer src='./shared/global.js')

  body
    nav
      ul
        li
          strong Home
        li
          a(href='/page1/') Page 1

    h1 Hello, universe.
    p These are inline #[strong strong] and #[em em] tags.
    p Example var:
    p= EXAMPLE_BUILD_VAR
    p.element
      img(src='./index/test.jpg')
