<!doctype html>
<html>
  <head>
    <%- include("/site/_shared/head.ejs", {
      title: "Hello, Universe!",
      description: "A humble starter template..."
    }) %>
  </head>
  </module>
  <body>
    <h1 class="p-10 text-3xl text-center">Hello, universe!</h1>
  </body>
</html>
