extends /_shared/layout.pug

block body
  nav
    ul
      li
        strong Home
      li
        a(href='/page1/') Page 1

  h1 Hello, universe.
  p These are inline #[strong strong] and #[em em] tags.
  p Example variable: #{EXAMPLE_BUILD_VAR}
  p
    img(src='./index/test.jpg')
