---
title: Meta title
description: Meta description
variable: Hello, universe.
---

extends /_shared/layout

block body
  nav
    ul
      li
        strong Home
      li
        a(href='/page1') Page 1

  h1= variable
  p This is a #[strong strong] tag
  p.element
    img(src='/assets/test.jpg')
