---
title: Page 1
---

extends /_shared/layout

block headMeta
  title= title
  meta(name='description' content=title)

block headScripts
  script(defer src='/assets/page1.js')

block body
  h1= title
