extends /_shared/layout.pug

append headScripts
  script(defer src='/page1/bundle.js')

block body
  nav.Nav.horizontal
    .Container.padded
      ul
        li
          a.nav-item(href='/') Home
        li
          strong.nav-item Page 1

  .Container.padded
    .AppRoot
