---
title: Hello, universe.
---

extends /_shared/layout

block headMeta
  title= title
  meta(name='description' content=title)

block body
  h1= title
  .nested
    p This is a #[strong strong] tag
    p.element
      img(src='/assets/test.jpg')
